@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-Regular.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-Bold.ttf") format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-RegularItalic.ttf") format('truetype');
  font-style: italic;
}
@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  src: url("/fonts/Comfortaa/Comfortaa-Regular.ttf") format('truetype');
}

:target {
  scroll-margin-top: 80px;
}

body {
  font-family: "Marianne";
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

h2 {
  color: var(--primary);
}

[href] {
  box-shadow: none !important;
}

td {
  text-align: center;
}

.page-content {
  margin-left: 15%;
  margin-right: 15%;
}

.page-title {
  color: var(--bleu-france);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 38px;
}

.page-subtitle {
  font-weight: bold;
  color: var(--bleu-texte);
  font-size: 18px;
  line-height: 26px;
}

.champs-obligatoires {
  font-size: 10px;
  color: var(--gris-texte);
  font-style: italic;
}

.custom-input {
  background-color: var(--bleu-clair) !important;
  box-shadow: inset 0 -2px 0 0 var(--bleu-france) !important;
}
.custom-input-valid {
  box-shadow: inset 0 -2px 0 0 var(--success) !important; 
}

.custom-select {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--bleu-france);
  background-color: var(--bleu-clair);
}
.custom-select:focus {
  background-color: var(--bleu-clair);
}

.cgu-title {
  background-color: #e9ecef;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 2em;
  width: -webkit-fill-available;
}
.cgu-content {
  h3 {
    font-weight: bold;
  }
  p {
    text-align: justify;
  }
}

@media screen and (max-width: 450px){
  .page-content {
    margin-left: 0;
    margin-right: 0;
  }

  .accordion-smallscreen {
    section {
        box-shadow: none;
        border-bottom: 1px solid var(--gris);
    }
  }
  .cgu-content {
    padding-inline: 20px;
  }
}