@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-Bold.ttf");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-RegularItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Comfortaa/Comfortaa-Regular.ttf");
}

:target {
  scroll-margin-top: 80px;
}

.page-content {
  margin-left: 15%;
  margin-right: 15%;
}

.page-title {
  color: var(--bleu-courant);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 38px;
}

.page-subtitle {
  font-weight: bold;
  color: var(--bleu-texte);
  font-size: 18px;
  line-height: 26px;
}

.champs-obligatoires {
  font-size: 10px;
  color: var(--gris-texte);
  font-style: italic;
}

.custom-input {
  background-color: var(--bleu-clair) !important;
  box-shadow: inset 0 -2px 0 0 var(--bleu-courant) !important;
}
.custom-input-valid {
  box-shadow: inset 0 -2px 0 0 var(--success) !important; 
}

.custom-select {
  border: none;
  border-bottom: 1px solid var(--bleu-courant);
  background-color: var(--bleu-clair);
  color: var(--bleu-texte);
  font-family: Marianne;
  font-size: 12px;
}